:root {
    --border-radius-mobile: 10px;
    --border-radius-desktop: 20px;
    /* DARK MODE VARIABLES */
    --background: #e8e8e8;
    --card-font: #000;
    --card-background: lightgray;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


.card img {
    border-radius: var(--border-radius-desktop) var(--border-radius-desktop) 0px 0px;
}

.navbar {
    border-bottom: 1px solid lightgray;
}


.navbar-brand {
    font-size: 1.3rem !important;
    font-weight: bold;
}

.nav-item {
    font-size: 1.3rem;
}

.main {
    padding-top: 5vw;
}

.card {
    border-radius: var(--border-radius-desktop) !important;
    background-color: lightgray !important;
    margin-left: 3vw;
    height: 15vw;
}

.card-img-top {
    height: 15vw;
    object-fit: cover;
}

.card-body {
    margin-top: 10px !important;
    padding: 0px !important;
}

.card-title {
    text-align: center;
}

@media (max-width: 768px) {
    p {
        font-size: 12px;
    }

    .card {
        border-radius: var(--border-radius-mobile) !important;
        background-color: var(--card-background) !important;
        width: 100%;
    }

    .card img {
        border-radius: var(--border-radius-mobile) var(--border-radius-mobile) 0px 0px;
    }
}