@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Shadows+Into+Light&display=swap');

/*Global Settings*/
:root {
    --border-radius-mobile: 10px;
    --border-radius-desktop: 20px;
    --dbackground: #1d1f20;
    --text-color: white;
    --card-background: lightgray;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    padding-bottom: 50px;
}

body::-webkit-scrollbar {
    display: none;
    /* for Chrome, Safari, and Opera */
}

.scrollbar_remove {
    -ms-overflow-style: none;
    /* for Internet Explorer, Edge */
    scrollbar-width: none;
    /* for Firefox */
}

/*Dark Mode*/
.dark {
    background-color: var(--dbackground);
    color: white;
}

.material-symbols-outlined {
    color: black;
    display: table !important;
    margin: auto !important;
    margin-top: 8px !important;
    font-variation-settings:
        'FILL' 0,
        'wght' 1000,
        'GRAD' 0,
        'opsz' 48
}

.circle {
    height: 40px;
    width: 40px;
    background-color: var(--card-background);
    margin-right: 2vw;
    margin-left: 1vw;
    z-index: 999;
    border-radius: 50px;
    cursor: pointer;
    flex-direction: row;
}

/*Navigation Bar*/
.navbar {
    border-bottom: 2px solid lightgray;
    user-select: none;
}

.navbar-brand {
    font-weight: bold;
    margin-left: 2vw;
}

#brand {
    font-size: 2rem;
    font-family: "Shadows Into Light", serif;
}

.cat-title {
    font-size: 3rem;
    font-family: "Shadows Into Light", serif;
    text-align: center;
    user-select: none;
    font-weight: normal;
    border-radius: var(--border-radius-mobile);
}

.navbar-toggler {
    margin-right: 1vw;
}

.nav-item {
    font-size: 1.3rem;
}


.right {
    margin-left: auto;
}

/*Card View*/
.container-fluid {
    max-width: calc(95vw) !important;
    padding-left: 8vw !important;
}

.card {
    border-radius: var(--border-radius-desktop) !important;
    margin-left: 1vw;
    height: 15vw;
    cursor: pointer;
    user-select: none;
}

.card img {
    border-radius: var(--border-radius-desktop) var(--border-radius-desktop) 0px 0px;
}

.home,
.cat,
.recipe {
    padding-top: 3vw;
}

.home .card .card-img-top {
    height: 15vw;
    object-fit: cover;
}

.cat .card .card-img-top {
    height: 8vw;
    object-fit: cover;
}

.card-body {
    margin-top: 10px !important;
    padding: 0px !important;
}

.card-title {
    text-align: center;
    font-size: 1.3vw !important;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
}

/*Recipe*/
.recipe {
    overflow-x: hidden;
}

.recipe .d-flex {
    gap: 30px;
}

#back {
    width: 100%;
}

#back button {
    float: right;
    margin-right: 4vw;
    margin-top: 0px;
}

#rec-title {
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: white;
    font-weight: bold;
}

#rec-image {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}

#rec-notes {
    color: gray;
    font-size: 1rem;
}

#ingredients,
#instructions {
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: white;
    margin-left: 1vw;
    font-weight: bold;
}

.recipe ol li {
    margin-top: 10px;
}

.recipe ul li {
    margin-top: 0px;
}

#display {
    margin: 3vw;
    font-family: "Noto Sans", sans-serif;
}

#rec-text {
    font-size: 2vh;
    font-weight: normal;
}

/*Responsive UI*/
@media (max-width: 1300px) {
    .card-title {
        font-size: 3vw !important;
    }

    .card {
        border-radius: var(--border-radius-mobile) !important;
        width: 100%;
    }

    .card img {
        border-radius: var(--border-radius-mobile) var(--border-radius-mobile) 0px 0px;
    }
}


@media (min-width: 1400px) {
    .navbar-expand-xxl .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
    }

    .navbar-expand-xxl .navbar-collapse .circle {
        margin-top: 2vw !important;
        margin-left: 2vw !important;
    }
}

@media (max-width:768px) {
    #ingredients {
        margin-top: 5vh;
    }

    #rec-text {
        font-size: 2.5vh;
    }
}